<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="an-container">
        <div class="an-row an-footer_main">
            <div class="an-footer_item">
                <div class="an-footer_logo">
                    <img loading="lazy" src="./assets/image/Main_logo.png" alt="Store Logo" srcset="">
                </div>
                <div class="an-footer_info">
                    <div class="an-info_item">
                        <i class='bx bx-map' ></i>
                        <span class="an-info">184 Main Rd E, St Albans VIC 3021, Vietnam</span>
                    </div>
                    <div class="an-info_item">
                        <i class='bx bx-envelope' ></i>
                        <a style="color: black" href="mailto:an@domain.com" class="an-mail">an@domain.com</a>
                    </div>
                    <div class="an-info_item">
                        <i class='bx bx-phone-call bx-tada' ></i>
                        <span class="an-info">+001 2233 456</span>
                    </div>
                </div>
                <div class="an-footer_social">
                    <i class='bx bxl-facebook' ></i>
                    <i class='bx bxl-twitter' ></i>
                    <i class='bx bxl-instagram' ></i>
                    <i class='bx bxl-youtube' ></i>
                    <i class='bx bxl-tiktok' ></i>
                </div>
            </div>
            <div class="an-footer_item">
                <h2 class="an-footer_heading">Categories</h2>
                <ul class="an-footer_linklist">
                    <li><a href="#" class="an-footer_link">Men</a>   </li>
                    <li><a href="#" class="an-footer_link">Women</a></li>
                    <li><a href="#" class="an-footer_link">Decor</a></li>
                    <li><a href="#" class="an-footer_link">Dress</a></li>
                    <li><a href="#" class="an-footer_link">Denim</a></li>
                    <li><a href="#" class="an-footer_link">Wedding Decor</a></li>
                </ul>
            </div>
            <div class="an-footer_item">
                <h2 class="an-footer_heading">Infomation</h2>
                <ul class="an-footer_linklist">
                    <li><a href="#" class="an-footer_link">About us</a></li>
                    <li><a href="#" class="an-footer_link">Contact us</a></li>
                    <li><a href="#" class="an-footer_link">Privacy Policy</a></li>
                    <li><a href="#" class="an-footer_link">Shipping & Delivery</a></li>
                    <li><a href="#" class="an-footer_link">Terms & Conditions</a></li>
                    <li><a href="#" class="an-footer_link">Returns & Exchanges</a></li>
                </ul>
            </div>
            <div class="an-footer_item">
                <h2 class="an-footer_heading">Useful links</h2>
                <ul class="an-footer_linklist">
                    <li><a href="#" class="an-footer_link">Store Location</a></li>
                    <li><a href="#" class="an-footer_link">Latest Posts</a></li>
                    <li><a href="#" class="an-footer_link">My Account</a></li>
                    <li><a href="#" class="an-footer_link">Size Guide</a></li>
                    <li><a href="#" class="an-footer_link">FAQs</a></li>
                    <li><a href="#" class="an-footer_link">FAQs 2</a></li>
                </ul>
            </div>
            <div class="an-footer_item">
                <h2 style="padding: 0" class="an-footer_heading">Newsletter Signup</h2>
                <p class="an-footer_des">Enter your email below to be the first to know about the new collection and product features.</p>
                <div class="an-footer_newsletter">
                    <input type="email" placeholder="Your email address">
                    <button type="submit">Subscribe</button>
                </div>
                <img src="../image/footer/logo-band1x.png" alt="" class="an-img_trust">
            </div>
        </div>
    </div>

</body>
<script src="../js/footer.js"></script>
</html>