<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truong An store</title>
    <link rel="icon" type="image/png" href="../image/Main_logo.png">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="an-header_top-bar">
        
            <div class="an-row an-top_bar__wrap an-flex_center">
                <div id="an-top_bar-0" class="an-top_bar an-text_left">
                    <i class='bx bx-phone-call bx-tada' style='color: white' ></i>
                    +01 23456789

                    <i class='bx bx-envelope' style='color:white' ></i>
                    <a href="mailto:an@domain.com" class="an-mail">an@domain.com</a>
                    
                </div>
                <div id="an-top_bar-1" class="an-top_bar an-text_center">
                    Summer sale discount off 50%
                    <a href="#" target="_blank" title="Watches">Shop now</a>
                </div>
                <div id="an-top_bar-2" class="an-top_bar an-text_right">
                    <span class="an-currencies">
                        <span class="an-currency">
                            USD
                        </span>
                        <i class='bx bx-chevron-down'></i>
                    </span>
                </div>
            </div>
        
    </div>
    <div id="an-header_main">
        
          <div class="an-row an-flex_center an-header_main__wrap">
            <div class="an-header_item an-header_menu-mobile">
                <i class='bx bx-menu'></i>
                <div class="an-menu_mobile_item">
                    
                    <i class='bx bx-plus'></i>
                    <img loading="lazy" src="../image/Main_logo.png" alt="Store Logo" srcset="">
                    <ul class="an-col an-m-nav_ul">
                        <li class="an-m-nav_item">Home
                            <span class="an-m_nav_icon"></span>
                        </li>
                        <li class="an-m-nav_item">Product
                            <span class="an-m_nav_icon"></span>
                        </li>
                        <li class="an-m-nav_item">Collection
                            <span class="an-m_nav_icon"></span>
                        </li>
                        <li class="an-m-nav_item">Blog
                            <span class="an-m_nav_icon"></span>
                        </li>
                        <li class="an-m-nav_item">Contact
                            <span class="an-m_nav_icon"></span>
                        </li>
                        <li class="an-m-nav_item">Search
                            <span class="an-m_nav_icon"></span>
                        </li>
                        <li class="an-m-nav_item">Login / Register
                            <span class="an-m_nav_icon"></span>
                        </li>
                        <li class="an-m-nav_item">
                            <div>
                                <p class="an-m_item_text">Need help?</p>
                                <div class="an-m_info">
                                    <i class='bx bx-phone-call bx-tada' style='color: black' ></i>
                                    +01 23456789
                                        <br>
                                    <i class='bx bx-envelope' style='color:black' ></i>
                                    <a style="color: black" href="mailto:an@domain.com" class="an-mail">an@domain.com</a>
                                </div>
                            </div>
                        </li>
                        <li class="an-m-nav_item">
                            <span class="an-currencies">
                                <span class="an-currency">
                                    USD
                                </span>                                
                            </span>
                            <span class="an-m_nav_icon"></span>
                        </li>
                    </ul>
                </div>
                <div class="an-mobile_item_overlay"></div>
            </div>
            <div class="an-header_item an-header_logo an-text_center">
                <img loading="lazy" src="../image/Main_logo.png" alt="Store Logo" srcset="">
            </div>
            <div class="an-header_item an-header_nav an-text_center">
                <ul class="an-row an-nav_ul">
                    <li class="an-nav_item">Home</li>
                    <li class="an-nav_item">Product</li>
                    <li class="an-nav_item">Collection</li>
                    <li class="an-nav_item">Blog</li>
                    <li class="an-nav_item">Contact</li>
                </ul>
            </div>
            <div class="an-header_item an-header_icon an-text_right">
                <div class="an-icon_item">
                    <a href="#" class="an_item">
                        <i class='bx bx-search' ></i>
                    </a>
                    <a href="#" class="an_item">
                        <i class='bx bx-user' ></i>
                    </a>
                    <a href="#" class="an_item">
                        <i class='bx bx-heart' >
                            <span class="an-count_box">0</span>
                        </i>
                        
                    </a>
                    <a href="#" class="an_item">
                        <i class='bx bx-cart' >
                            <span class="an-count_box">0</span>
                        </i>
                        
                    </a>
                </div>
            </div>
        </div>
    
    </div>
</body>
<script src="../js/header.js"></script>
</html>