.an-section_banner {
    position: relative;
}

.an-banner_img {
    width: 100%;
    height: auto;
    position: relative;
}
.an-banner_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: .6;
}
.an-banner_header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.an-banner_heading {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
}

.an-banner_description {
    font-size: 18px;
    opacity: .7;
}

.an-filter_btn {
    border: none;
    outline: none;
    background-color: unset;
    cursor: pointer;
    font-size: 18px;
    opacity: .6;
    transition: .3s;
}

.an-filter_btn:hover {
    color: var(--primary-color);
}


.an-collection_header, .an-filter_header {
    justify-content: space-between;
    align-items: center;
}

.an-collection_filter-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    /* padding: 20px; */
    width: 20%;
    z-index: 11;
    transform: translateX(-100%);
    transition: .5s;
}
.an-collection_filter-wrapper.active {
    transform: translateX(0%);
    overflow-y: scroll;
}
.an-filter_header {
    padding: 20px;
    border-bottom: 1px solid gray;
}
.an-filter_close i{
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
    border-radius: 50%;
}
.an-filter_close i:hover {
    color: white;
    transform: rotate(360deg);
    background-color: red;
}
.an-filter_main>div {
    padding: 20px;
    border-bottom: 1px solid gray;
}
.an-filter_title {
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
}
.an-filter_title:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    bottom: -10%;
    left: 0;
}
.an-filter_value li {
    padding-bottom: 10px;
}
.an-filter_value a {
    align-items: center;
    display: flex;
}

.an-value_color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
}

.an-value_color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    
}

.an-color_black {
    background-color: black;
}
.an-color_blue {
    background-color: blue;
}

.an-color_brown {
    background-color: brown;
}
.an-color_gold {
    background-color: gold;
}

.an-price_btn {
    padding: 10px 30px;
    background-color: white;
    border:3px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
    cursor:pointer;
    transition: .4s;
}

.an-price_btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.an-filter_checkbox i {
    font-size: 20px;
    margin-right: 10px;
    color: gray;
}

.an-collection_filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}
.an-collection_filter-overlay.active {
    display: block;
}
.an-collection_filter, .an-collection_dropdown {
    flex: 1 0 0;
}
.an-collection_dropdown {
    justify-content: flex-end;
    display: flex;
    position: relative;
}
.an-layout_switch-item[data-col="1"] {
    display: none;
}
.an-switch_item-icon_viewlist, .an-switch_item-icon_view2, .an-switch_item-icon_view1{
    width: 29px;
}

.an-switch_item-icon_view3 {
    width: 42px;
}
.an-switch_item-icon_view4 {
    width: 55px;
}
.an-switch_item-icon_view5 {
    width: 68px;
}
.an-switch_item-icon_view6 {
    width: 81px;
}

.an-collection_layout-switch span {
    position: relative;
    height: 26px;
    color: var(--switch-layout-color);
    border: 1px solid var(--switch-layout-color);
    margin: 0 5px;
    transition: .5s;
    display: block;
    cursor: pointer;
}

.an-collection_layout-switch span:hover {
    color: var(--secondary-color);
}

.an-collection_layout-switch span:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 20px;
    /* background: currentcolor; */
    background: var(--switch-layout-color);
    transition: .3s;
}
.an-collection_layout-switch .an-switch_item-icon_view1:before {
    width: 23px;
}
.an-collection_layout-switch .an-switch_item-icon_viewlist:before {
    right: 2px;
    height: 5px;
    width: 23px;
    box-shadow: 0 7.3px var(--switch-layout-color),0 15.1px var(--switch-layout-color);
}

.an-collection_layout-switch .an-switch_item-icon_view2:before {
    box-shadow: 13px 0 var(--switch-layout-color),13px 0 var(--switch-layout-color);
}

.an-collection_layout-switch .an-switch_item-icon_view3:before {
    box-shadow: 13px 0 var(--switch-layout-color),26px 0 var(--switch-layout-color);
}
.an-collection_layout-switch .an-switch_item-icon_view4:before {
    box-shadow: 13px 0 var(--switch-layout-color),26px 0 var(--switch-layout-color),39px 0 var(--switch-layout-color);
}
.an-collection_layout-switch .an-switch_item-icon_view5:before {
    box-shadow: 13px 0 var(--switch-layout-color),26px 0 var(--switch-layout-color),39px 0 var(--switch-layout-color),52px 0 var(--switch-layout-color);
}
.an-collection_layout-switch .an-switch_item-icon_view6:before {
    box-shadow: 13px 0 var(--switch-layout-color),26px 0 var(--switch-layout-color),39px 0 var(--switch-layout-color),52px 0 var(--switch-layout-color),65px 0 var(--switch-layout-color);
}

.an-collection_layout-switch span:hover, .an-layout_switch-item.active span {
    --switch-layout-color: var(--secondary-color);
}

.an-m-collection_dropdown{
    display: none;
}
.an-dropdown_header {
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 10px 25px;
    cursor: pointer;
}
.an-dropdown_header i {
    vertical-align: middle;
    font-size: 22px;
    transition: .5s;
}
.an-dropdown_header.active i {
    transform: rotate(180deg);
}

.an-dropdown_wrapper, .an-m-dropdown_wrapper {
    display: none;
}


.an-dropdown_wrapper {
    position: absolute;
    top: 150%;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    padding: 10px 0;
}

.an-dropdown_wrapper:before {
    content: " ";
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    z-index: 1;
    left: 55%;
    top: -2%;
}
.an-dropdown_wrapper.active {
    display: block;
}
.an-dropdown_item {
    padding: 15px 50px 15px 20px;
    cursor: pointer;
    transition: .3s;
    z-index: 3;
}
.an-dropdown_item:hover, .an-dropdown_item.active {
    color: white;
    background-color: var(--primary-color);
}
.an-m-dropdown_wrapper_header {
    justify-content: space-between;
    padding: 30px 20px;
    border: 1px solid var(--border-color);
    align-items: center;
}
.an-header_title {
    font-size: 20px;
}
.an-m-dropdown_wrapper_header i {
    font-size: 30px;
}
.an-m-dropdown_wrapper {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 11;
    text-align: left;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.an-collection_main {
    justify-content: center;
}
.an-collection_main.row-1 .an-collection_item{
    flex: 0 0 100%;
    max-width: 100%;
}

.an-collection_main.row-2 .an-collection_item{
    flex: 0 0 50%;
    max-width: 50%;
}
.an-collection_main.row-3 .an-collection_item{
    flex: 0 0 33.3%;
    max-width: 33.3%;
}
.an-collection_main.row-4 .an-collection_item{
    flex: 0 0 25%;
    max-width: 25%;
}
.an-collection_main.row-5 .an-collection_item{
    flex: 0 0 20%;
    max-width: 20%;
}
.an-collection_main.row-6 .an-collection_item{
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.an-collection_item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
    margin-top: 25px;
    transition: .7s;
}

.an-collection_item .an-main_item-wrapper {
    width: 270px;
    height: 270px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    margin: auto;
    display: block;
}
.an-main_item-wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

.an-section_collection {
    margin-top: 100px;
}

.an-collection_item:hover .an-main_item-wrapper:before {
    opacity: 1;
}

.an-collection_item .an-item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.an-collection_item:hover img {
    transform: scale(1.2);
}
.an-item_action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: 3;
    text-align: center;
    width: 70%;
    opacity: 0;
    transition: .5s;
}
.an-collection_item:hover .an-item_action {
    transform: translate(-50%,-50%);
    opacity: 1;
}
.an-item_action a {
    /* max-width: 100%; */
    color: var(--secondary-color);
    padding: 10px 20px;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    transition: .5s;
    overflow: hidden;
    position: relative;
}
.an-item_action a:hover {
    background-color: var(--primary-color);
}
.an-item_action a span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .4s;
}
.an-item_action a:hover span {
    transform: translate(-50%,-200%);
}
.an-item_action a i {
    transform: translateY(100%);
    opacity: 0;
    transition: .4s;
}
.an-item_action a:hover i{
    display: block;
    transform: translateY(0);
    opacity: 1;
}
.an-item_wishlist {
    position: absolute;
    top: 10px;
    left: -100%;
    z-index: 2;
    transition: .3s;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.an-collection_item:hover .an-item_wishlist {
    left: 10px;
}
.an-item_wishlist i {
    transition: .3s;
    font-weight: 600;
}
.an-item_wishlist i:hover {
    color:  var(--primary-color);
}
.an-wishlist_box {
    color: white;
    background-color:  var(--primary-color);
    padding: 6px 12px;
    font-size: 14px;
    margin-left: 10px;
    position: relative;
    opacity: 0;
    transition: .4s;
}
span.an-wishlist_box::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.an-item_wishlist i:hover + span.an-wishlist_box {
    opacity: 1;
}
.an-item_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.an-item_title {
    /* width: 80%;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600; */
    text-align: center;
}
.an-item_title:hover {
    color:  var(--primary-color);
}
.an-item_price {
    opacity: .7;
    text-align: center;
}
.an-collection_main.row-6 .an-main_item-wrapper, .an-collection_main.row-5 .an-main_item-wrapper {
    width: 240px;
    height: 240px;
}
@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 991px) {
    .an-banner_heading {
        margin-bottom: 10px;
    }

    .an-main_item-wrapper, .an-item_title {
        text-align: center;
        margin: auto;
    }
    .an-collection_item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .an-item_action {
        opacity: 1;
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
        transform: translate(0%,0%);
        width:20%;
    }
    .an-item_action a {
        padding: 3px 5px;
        border-radius: 1px;
        box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);
    }
    .an-item_action a span {
        display: none;
    }
    .an-item_action a i {
        transform: translateY(0%);
        opacity: 1;
    }
    .an-layout_switch-item[data-col="5"], .an-layout_switch-item[data-col="6"]{
        display: none;
    }
    .an-collection_main.row-4 .an-main_item-wrapper, .an-collection_main.row-3 .an-main_item-wrapper{
        width: 180px;
        height: 180px;
    }
    .an-collection_filter-wrapper {
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    .an-banner_heading {
        font-size: 30px;
    }
    .an-banner_description {
        font-size: 14px;
    }

    .an-banner_img {
        height: 200px;
    }

    .an-collection_item .an-main_item-wrapper {
        width: 150px;
        height: 200px;
    }
    .an-collection_main.row-1 .an-collection_item .an-main_item-wrapper {
        width: 350px;
        height: 350px;
    }
    .an-item_price {
        font-size: 13px;
    }
    .an-layout_switch-item[data-col="3"], .an-layout_switch-item[data-col="4"], .an-collection_dropdown {
        display: none;
    }
    .an-layout_switch-item[data-col="1"] {
        display: block;
    }
    .an-collection_main.row-4 .an-collection_item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .an-m-collection_dropdown{
        display: block;
        flex: 1 0 0;
        text-align: right;
    }
    .an-collection_filter-wrapper {
        width: 80%;
    }

    .an-m-dropdown_wrapper {
        display: block;
        transition: .5s;
        bottom: -100%;
    }
    .an-m-dropdown_wrapper.active {
        bottom: 0;
        z-index: 11;
    }
    .an-dropdown_overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%; height: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index: 10;
        display: none;
    }
    .an-dropdown_overlay.active {
        display: block;
    }
}