/* section_product-tab  */
.an-tab_header {
    margin-bottom: 10px;
}
.an-section_product-tab {
    background-color: #f6f6f8;
    margin-top: 100px;
    padding: 100px 0;
}
.an-tab_title {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    /* transition: .5s; */
    font-size: 20px;
}
.an-tab_title.active {
    border: 2px solid var(--primary-color);
}
.an-tab_item .an-tab_content {
    opacity: 0;
    height: 0;
}
.an-tab_item.active .an-tab_content {
    opacity: 1;
    height: auto;
    transition: 1s;
}
.an-tab_content h4{
    margin-bottom: 10px;
    font-size: 18px;
}
.an-tab_content p {
    margin-bottom: 20px;
    opacity: .7;
}
.an-m-tab_header {
    display: none;
}


/* section_product-related   */

.an-section_product-related, .an-section_product-recent {
    margin-top: 100px;
}
.an-product-related_header, .an-product-recent_header {
    text-align: center;
}
.an-product-related_heading, .an-product-recent_heading {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 20px;
}
.an-product-related, .an-trending_main, .an-blog_main, .an-instagram_main {
    margin-top: 40px;
}
.an-product-related_main {
    position: relative;
}
.an-product_related-wrapper {
    flex-wrap: nowrap;
    overflow: hidden;
}

.an-product-related_main_item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
    margin-top: 25px;
    transition: .5s;
}

.an-product-related_main_item .an-main_item-wrapper {
    width: 270px;
    height: 270px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    /* margin: auto; */
    display: block;
}
.an-main_item-wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: .5s;
    opacity: 0;
}
.an-product-related_main_item:hover .an-main_item-wrapper:before {
    opacity: 1;
}

.an-product-related_main_item .an-item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.an-product-related_main_item:hover img {
    transform: scale(1.2);
}
.an-item_action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: 3;
    text-align: center;
    width: 70%;
    opacity: 0;
    transition: .5s;
}
.an-product-related_main_item:hover .an-item_action {
    transform: translate(-50%,-50%);
    opacity: 1;
}
.an-item_action a {
    /* max-width: 100%; */
    color: black;
    padding: 10px 20px;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    transition: .5s;
    overflow: hidden;
    position: relative;
}
.an-item_action a:hover {
    background-color:#56cfe1;
}
.an-item_action a span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .4s;
}
.an-item_action a:hover span {
    transform: translate(-50%,-200%);

}
.an-item_action a i {
    transform: translateY(100%);
    opacity: 0;
    transition: .4s;
}
.an-item_action a:hover i{
    display: block;
    transform: translateY(0);
    opacity: 1;
}
.an-item_wishlist {
    position: absolute;
    top: 10px;
    left: -100%;
    z-index: 3;
    transition: .3s;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.an-product-related_main_item:hover .an-item_wishlist {
    left: 10px;
}
.an-item_wishlist i {
    transition: .3s;
    font-weight: 600;
}
.an-item_wishlist i:hover {
    color: #56cfe1;
}
.an-wishlist_box {
    color: white;
    background-color: #56cfe1;
    padding: 6px 12px;
    font-size: 14px;
    margin-left: 10px;
    position: relative;
    opacity: 0;
    transition: .4s;
}
span.an-wishlist_box::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:#56cfe1;
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.an-item_wishlist i:hover + span.an-wishlist_box {
    opacity: 1;
}
.an-item_title {
    text-align: center;
}
.an-item_title:hover {
    color: #56cfe1;
}
.an-item_price {
    opacity: .7;
    text-align: center;
}
.an-product-related_nav {
    position: absolute;
    top: 50%;
}
.bx-chevron-right, i.bx.bx-chevron-left {
    position: absolute;
    top: 50%;
    font-size: 30px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%) scale(1.2) translateX(0%);
    color: white;
    cursor: pointer;
    transition: .4s;
}

.bx-chevron-right {
    right: 0;
}
i.bx.bx-chevron-left {
    left: 0;
}
.bx-chevron-right:hover, i.bx.bx-chevron-left:hover {
    background-color: var(--primary-color);
}
.an-product-related_main:hover i.bx.bx-chevron-left{
    transform: translateY(-50%) scale(1.7) translateX(-60%);
}
.an-product-related_main:hover i.bx.bx-chevron-right {
    transform: translateY(-50%) scale(1.7) translateX(60%);
}
i.bx.bx-chevron-left.disabled, i.bx.bx-chevron-right.disabled {
    background-color: gray;
    cursor: auto;
}

/* section_product-recent  */

.an-product-recent_main {
    margin-top: 40px;
    position: relative;
    text-align: center;
}
.an-product_recent-wrapper {
    flex-wrap: nowrap;
    overflow: hidden;
}
.an-product-recent_main:hover i.bx.bx-chevron-left{
    transform: translateY(-50%) scale(1.7) translateX(-60%);
}
.an-product-recent_main:hover i.bx.bx-chevron-right {
    transform: translateY(-50%) scale(1.7) translateX(60%);
}
.an-product-recent_main_item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
    margin-top: 25px;
    transition: .5s;
}

.an-product-recent_main_item .an-main_item-wrapper {
    width: 270px;
    height: 270px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    /* margin: auto; */
    display: block;
}
.an-main_item-wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: .5s;
    opacity: 0;
}
.an-product-recent_main_item:hover .an-main_item-wrapper:before {
    opacity: 1;
}
/* .an-product-recent_main_item .an-item_img {
    z-index: 2;
} */
.an-product-recent_main_item .an-item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.an-product-recent_main_item:hover img {
    transform: scale(1.2);
}
.an-item_action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: 3;
    text-align: center;
    width: 70%;
    opacity: 0;
    transition: .5s;
}
.an-product-recent_main_item:hover .an-item_action {
    transform: translate(-50%,-50%);
    opacity: 1;
}
.an-item_action a {
    /* max-width: 100%; */
    color: black;
    padding: 10px 20px;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    transition: .5s;
    overflow: hidden;
    position: relative;
}
.an-item_action a:hover {
    background-color:#56cfe1;
}
.an-item_action a span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .4s;
}
.an-item_action a:hover span {
    transform: translate(-50%,-200%);

}
.an-item_action a i {
    transform: translateY(100%);
    opacity: 0;
    transition: .4s;
}
.an-item_action a:hover i{
    display: block;
    transform: translateY(0);
    opacity: 1;
}
.an-item_wishlist {
    position: absolute;
    top: 10px;
    left: -100%;
    z-index: 3;
    transition: .3s;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.an-product-recent_main_item:hover .an-item_wishlist {
    left: 10px;
}
.an-item_wishlist i {
    transition: .3s;
    font-weight: 600;
}
.an-item_wishlist i:hover {
    color: #56cfe1;
}
.an-wishlist_box {
    color: white;
    background-color: #56cfe1;
    padding: 6px 12px;
    font-size: 14px;
    margin-left: 10px;
    position: relative;
    opacity: 0;
    transition: .4s;
}
span.an-wishlist_box::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:#56cfe1;
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.an-item_wishlist i:hover + span.an-wishlist_box {
    opacity: 1;
}

.an-item_title:hover {
    color: #56cfe1;
}
.an-item_price {
    opacity: .7;
    text-align: center;
}

.an-item_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.an-item_img {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}
@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 991px) {
    .an-product-related_main, .an-main_item-wrapper, .an-item_title {
        text-align: center;
        margin: auto;
    }
    .an-product-related_main_item, .an-product-recent_main_item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .an-item_action {
        opacity: 1;
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
        transform: translate(0%,0%);
        width: 20%;
    }
    .an-item_action a {
        padding: 3px 5px;
        border-radius: 1px;
        box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);
    }
    .an-item_action a span {
        display: none;
    }
    .an-item_action a i {
        transform: translateY(0%);
        opacity: 1;
    }
    .an-product-related_main:hover i.bx.bx-chevron-left, 
    .an-product-related_main:hover i.bx.bx-chevron-right, 
    .an-product-recent_main:hover i.bx.bx-chevron-left, 
    .an-product-recent_main:hover i.bx.bx-chevron-right,
    .an-product-related_main:hover i.bx.bx-chevron-left,
    .bx-chevron-right, i.bx.bx-chevron-left {
        transform: unset;
    }
    .bx-chevron-right:hover, i.bx.bx-chevron-left:hover {
        background-color: black;
    }

    /* section_product-tab  */
    .an-section_product-tab {
        background-color: white;
    }
    .an-tab_header {
        display: none;
    }
    .an-m-tab_header {
        justify-content: space-between;
        display: flex;
        align-items: center;
        background-color: #f6f6f8;
        margin-bottom: 15px;
    }
    .an-m-tab_header span {
        padding: 15px;
    }
    .an-tab_icon {
        position: relative;
        background-color: var(--secondary-color);
        float: right;
        height: 46px;
        width: 46px;
        color: white;
    }
    .an-tab_icon::after {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 20px;
        height: 2px;
    }
    .an-tab_icon::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 2px;
        height: 20px;
        transition: .3s;
    }
    .an-tab_item .an-tab_content {
        height: 0;
        display: block;
        opacity: 0;
        transition: .2s;
        padding: 0 15px;
    }
    .an-tab_item.active .an-tab_content {
        height: 100%;
        opacity: 1;        
    }
    .an-m-tab_header.active .an-tab_icon::before {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@media screen and (max-width: 767px) {
    .an-product-related_main_item .an-main_item-wrapper, .an-product-recent_main_item .an-main_item-wrapper {
        width: 150px;
        height: 200px;
    }
    .an-item_price {
        font-size: 13px;
    }
    .bx-chevron-right, i.bx.bx-chevron-left {
        position: unset;
        margin-top: 30px;
        text-align: center;
        margin: 30px 10px;
    }
    .an-product-related_heading, .an-product-recent_heading {
        font-size: 35px;
    }
}
